.page-title {
  color: darkgreen ;
  border: 20px brown;
  position: relative;
  margin: 110px 30px 30px 30px;

  font-family: "Rubik", sans-serif; 
  font-weight: bold;
  font-size: 60px;
  text-align: center;
}

.welcome {
  color: black ;
  border: 20px brown;
  position: relative;
  margin-bottom: 100px;

  font-family: "Rubik", sans-serif; 
  font-size: 30px;
  text-align: center;
}


.main-page-buttons {
  color: black;
  background-color: antiquewhite;
  opacity: 0.9;
  border: none;
  border-radius: 10px;
  padding: 20px 30px;
  margin: 10px;

  font-family: "Rubik", sans-serif; /* */
  font-size: 20px;
  text-align: center;
  cursor: pointer;
}

.button-container {
  display: flex;
  flex-direction: column; /* Keeps them stacked */
  align-items: center; /* Centers them horizontally */
}

button {
  display: block;
}

.main-page-buttons:hover {
  opacity: 0.8;
  transition-duration: 0.5s
}

.get-started-button:hover {
  background-color: darkred;
}

.login-button:hover {
  background-color: darkgreen;
}

.new-account-button:hover {
  background-color: darkgoldenrod;
}


.text-block {
  background-color: antiquewhite;
  opacity: 0.9;
  border-radius: 20px;
  padding: 15px 35px;
  margin: 130px 20px;

  font-family: "Rubik", sans-serif;
}

.text-block-title {
  font-size: 30px;
  font-weight: bold;
}