{% extends "base.html" %}
{% block title %}Meal Planner - Início{% endblock %}

{% block content %}
<div class="start-background">
  <div class="start-page auth-container auth-header">
    <h1 class="start-header">Sobre Nós</h1>
    <p class="start-subtitle">Este site foi criado por dois estudantes de Engenharia Informática com o objetivo de facilitar o planeamento de refeições semanais de forma prática e intuitiva.</p>

    <p class="about-us-contact">Contactos</p>
    <div>
      <p class="about-us-name">Mário Prazeres: </p>
      <p class="about-us-email">Email: marioprazeres@msn.com</p>
    </div>

    <div>
      <p class="about-us-name">Matilde Carmo: </p>
      <p class="about-us-email">Email: misabelpcarmo@gmail.com</p>
    </div>    
  </div>
</div>
{% endblock %}