{% extends "base.html" %}
{% block title %}Meal Planner - Início{% endblock %}

{% block content %}
<div class="start-background">
  <div class="start-page auth-container auth-header">
    <h1 class="start-header">Bem-vindo ao Meal Planner 🍽️</h1>
    <p class="start-subtitle">Descobre, organiza e planeia as tuas refeições de forma simples.</p>

    <div class="landing-buttons">
      <a href="{{ url_for('auth.login') }}" class="btn btn-primary">Entrar</a>
      <a href="{{ url_for('auth.register') }}" class="btn btn-outline">Criar Conta</a>
    </div>
  </div>
</div>
{% endblock %}
