{% extends "base.html" %} {% block title %}Receitas Bloqueadas{% endblock %} {%
block content %}

<div class="recipes-container">
  <div class="recipes-header">
        
    <h2>As suas receitas bloqueadas</h2>

    {% if receitas %}
    <div class="recipe-list">
      {% for receita in receitas %}
      <div class="card">
        <h3>{{ receita.titulo }}</h3>
        <p><strong>Tempo:</strong> {{ receita.tempo_preparacao }} min</p>

        <div style="display: flex; gap: 10px">
          <a
            href="{{ url_for('blocked.ver_receita_bloqueada', receita_id=receita.id) }}"
            class="btn btn-success"
          >
            Ver receita
          </a>

          <form
            method="POST"
            action="{{ url_for('blocked.desbloquear', receita_id=receita.id) }}"
          >
            {{ form.hidden_tag() }} {{ form.submit(class="btn btn-danger") }}
          </form>
        </div>
      </div>
      {% endfor %}
    </div>
    {% else %}
    <p>Não bloqueaste nenhuma receita ainda.</p>
    {% endif %}

    <a href="{{ url_for('main.home') }}" class="btn btn-secondary">← Voltar</a>
  </div>
</div>
{% endblock %}
